<div class="comment-box">
  <% comments.each do |comment|%>
    <div class="comment-user py-2">
      <%= image_tag comment.user.avater.url, class: "rounded-circle", size: "24x24" %>
      <%= comment.user.name %>
      <div class="comment-content">
        <%= comment.content %>
      </div>
    </div>
  <% end %>
</div>