<div class="d-flex justify-content-center pt-3">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">Item_Search</h2>
    <p class="text-center text-muted">アイテム検索</p>
  </div>
</div>
<%= form_with url: search_items_path, method: :get, local: false do |form| %>
  <div class="input-group mb-3">
    <%= form.text_field :keyword, class: "form-control", placeholder: "アイテムを検索", value: params[:keyword], required: true %>
    <div class="input-group-append">
      <%= button_tag type: :submit, class: "btn btn-info" do %>
        <i class="fas fa-search"></i>
      <% end %>
    </div>
  </div>
<% end %>
<div id="search_item_list">
  <% if @search_items.present? %>
    <%= render "search_item", @search_items %>
  <% end %>
</div>
