<div class="tab-pane fade show active" id="list-posts" role="tabpanel" area-labelledby="list-posts-list">
  <div class="d-flex flex-wrap">
    <% posts.each do |post| %>
      <div class="col-4 p-1 bg-light">
        <%= image_tag post.photos.first.image.url, class: "img-fluid fadein-image", width: "1080px", height: "1080px" %>
      </div>
    <% end %>
  </div>
  <%= paginate posts, remote: true %>
</div>