<% if user_signed_in? %>
<nav class="navbar navbar-expand navbar-light bg-light fixed-bottom d-sm-none">
  <div class="navbar-nav w-100 justify-content-between">
    <button type="button" class="btn btn-main" data-toggle="modal" data-target="#new-modal">
      <i class="fas fa-plus-square"></i>
    </button>
    <button type="button" class="btn btn-outline-dark-gray" data-toggle="modal" data-target="#search-modal">
      <i class="fas fa-search"></i>
    </button>
    <%= link_to user_items_path(current_user), class: "nav-item nav-link fa-lg" do %>
      <i class="fas fa-couch"></i>
    <% end %>
    <%= link_to posts_path, class: "nav-item nav-link fa-lg" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to user_path(current_user), class: "nav-item nav-link fa-lg" do %>
      <i class="fas fa-user"></i>
    <% end %>
  </div>
</nav>
<% end %>
