<div class="d-flex justify-content-center pt-3">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">My Item</h2>
    <p class="text-center text-muted">マイアイテム</p>
  </div>
</div>
<% if @items.present? %>
  <ul class="row bg-white py-3 px-0 mb-0 my-items">
    <%= render @items %>
  </ul>
<% elsif %>
  <h3 class="d-flex justify-content-center pt-5">アイテムがまだありません</h3>
<% end %>
