<div class="d-flex justify-content-center pt-3">
  <div class="d-inline-flex flex-column headline pb-4">
    <h2 class="m-0">My Item</h2>
    <p class="text-center text-muted">マイアイテム</p>
  </div>
</div>
<% if @items.present? %>
  <ul class="row bg-white py-3 px-0 mb-0 my-items">
    <% @items.each do |item| %>
      <li class="col-12 mb-3 border-bottom">
        <div class="d-flex">
          <div class="d-flex justify-content-center align-items-center bg-white search-item-image">
            <%= image_tag item.image, class: "img-fluid" %>
          </div>
          <div class="d-flex flex-column flex-md-row w-100">
            <h5 class="d-flex align-items-center pl-3 mb-0"><%= item.name %></h5>
            <p class="d-flex align-items-center text-muted pl-3 my-auto ml-md-auto text-nowrap"><%= item.genre %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% elsif %>
  <h3 class="d-flex justify-content-center pt-5">アイテムがまだありません</h3>
<% end %>
