<% if know_how.genre_before_type_cast == n %>
  <li class="list-group-item p-2">
    <div class="row">
      <div class="d-flex align-items-center w-100">
        <div class="col-auto">
          <i class="far fa-2x fa-square text-muted"></i>
        </div>
        <div class="col">
          <%= know_how.title %>
        </div>
      </div>
    </div>
  </li>
<% end %>