<% breadcrumb :know_hows %>
<div class="d-flex justify-content-center my-3">
  <div class="headline">
    <h2 class="headline-en">Know How</h2>
    <p class="headline-jp text-muted">ノウハウ</p>
  </div>
</div>
<% 1.upto(KnowHow.genres.count) do |n| %>
  <ul class="list-group mb-4">
    <h3 class="know-how-genre"><%= KnowHow.find_by(genre: n).genre_i18n %></h3>
    <%= render @know_hows, n: n %>
  </ul>
<% end %>
<%= render 'show' %>
