<div class="title-group">
  <h1>Time Line</h1>
  <p class="sub-title mb-0">タイムライン</p>
</div>
<hr class="devise-link mt-0 mb-4">

<% @posts.each do |post| %>
  <%= link_to post do %>
    <%= image_tag post.photos.first.image.url %>
  <% end %>
  <p><%= post.content %></p>
  <hr class="devise-link mt-0 mb-4">
<% end %>
