/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Bootstrap に color を追加
@import 'valiables';
$theme-colors: (
	"main": $main,
  "dark-gray": $dark-gray,
  "light-gray": $light-gray
);

// Sprockets で Bootstrap を扱うためにインクルード
@import "bootstrap/scss/bootstrap";
// FontAwesome を扱うためにインクルード
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

body {
  position: relative;
  margin: 0;
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: $light-gray;
  min-height: 100vh;
  @media (max-width: 575.98px) {
    padding-bottom: 54px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  padding: 8px 24px;
  @media (max-width: 575.98px) {
    position: static;
  }
}

@media (max-width: 575.98px) {
  .footer-before-signing {
    margin-bottom: -54px;
  }
}

.base-container {
  margin: 0 auto;
}

.mw-sm {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

div.field_with_errors {
  display: contents;
}

button.close, button.navbar-toggler {
  outline: none;
}

.avatar-container {
  position: relative;
  max-width: 200px;
  .avatar-label {
    position: absolute;
    top: 0;
    height: 200px;
    width: 200px;
    background-image: url("/images/fallback/default.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
  }
  .user-avatar,.avatar-preview {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.avatar-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

a:hover {
  text-decoration: none;
}

.tag-color {
  color: $gold;
}

.category-color {
  color: $silver;
}

.post-preview-image {
  display: none;
}

.form-check label {
  position: relative;
  cursor: pointer;
  .checkbox-visibility {
    visibility: hidden;
  }
  .checkbox-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

input:checked + span {
  color: white;
  background-color: $dark-gray;
}

.dropdown-item {
  &:hover {
    background-color: #e4e8ec;
  }
  &:active {
    background-color: #e4e8ec;
    color: #212529;
  }
}

#custom-pagination {
  justify-content: center;
  .page-link {
    background-color: transparent;
    border: 0;
    color: unset;
    &:hover {
      border-radius: 50%;
      background-color: #dedcda;
    }
  }
  .active .page-link {
    border-radius: 50%;
    background-color: $dark-gray;
    color: white;
  }
  .disabled .page-link {
    background-color: transparent;
  }
}