/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
// Sprockets で Bootstrap を扱うためにインクルード
@import "bootstrap/scss/bootstrap";
// FontAwesome を扱うためにインクルード
$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';

body {
  margin: 0;
  padding: 56px 0;
  background-color: #EEEDEC;
}

.base-container {
  margin: 0 auto;
  padding: 1rem;
}

.mw-sm {
  max-width: 576px;
}

.mw-xl {
  max-width: 1200px;
}

// span.description {
//   display: inline-block;
//   margin: 0;
//   width: 256px;
//   height: 300px;
// }

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

button.close, button.navbar-toggler {
    outline: none;
  }

#preview {
  height: 200px;
  width: 200px;
}

a:hover {
  text-decoration: none;
}

.tag-color {
  color: #baa877;
}

.category-color {
  color: #a8a9a8;
}

.form-check label {
  position: relative;
  cursor: pointer;
  .checkbox-visibility {
    visibility: hidden;
  }
  .checkbox-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

input:checked + span {
  color: #EEEDEC;
  background-color: #6c757d;
}