// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.comment-form {
  resize: none;
}

.comment-user:hover {
  background-color: #f7f7f7;
}

.comment-avatar-container {
  position: relative;
  min-width: 24px;
  margin-right: 8px;
  margin-bottom: auto;
}