// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#comment-area {
  resize: none;
  max-height: 300px;
}

.comment-user {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 100%;
}

.comment-content {
  padding-left: 32px;
}

.comment-avatar-container {
  position: relative;
  min-width: 24px;
  margin-right: 8px;
  margin-bottom: auto;
}