.required {
  color: #820000;
  border: double 3px #820000;
  padding: 0 1rem;
}

p img {
  cursor: pointer;
}

.terms-of-use {
  height: 200px;
  border: 1px solid #ced4da;
}

.avatar-image-field {
  display: none;
}