@import 'valiables';

.required {
  color: #820000;
  border: double 3px #820000;
  padding: 0 1rem;
}

p img {
  cursor: pointer;
}

.avatar-image-field {
  display: none;
}

.agreement {
  accent-color: $dark-gray;
}