// Place all the styles related to the graphs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.rank-color-1 {
  background-color: rgba(186, 168, 119, 0.3);
  color: #212529;
}
.rank-color-2 {
  background-color: rgba(168, 169, 168, 0.3);
  color: #212529;
}
.rank-color-3 {
  background-color: rgba(148, 123, 96, 0.3);
  color: #212529;
}