// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carousel-item {
  text-align: center;
}

.details-image {
  max-height: 600px;
}

.dropdown-menu {
  .delete-link {
    text-decoration: none;
  }
}

.card-body {
  position:relative;
  .card-comment {
    position:absolute;
		bottom: 0;
  }
}
