// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'valiables';

.profile-name {
  font-size: 20px;
  overflow-wrap: break-word;
  font-weight: bold;
  margin-bottom: 16px;
}

.user-info {
  font-size: 12px;
  align-items: center;
}

#list-tab {
  a {
    border: 0;
    background-color: transparent;
    opacity: 0.5;
    border-bottom: 2px solid $dark-gray;
    &:hover {
      background-color: #dedcda;
      opacity: 1.0;
    }
  }
  a.active {
  border-bottom: 2px solid;
  background-color: transparent;
  opacity: 1.0;
  }
  .tab-text {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
  }
}

.fadein-image {
  animation: fadein 2s forwards;
}

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}

.item-container {
  position: relative;
  max-width: 128px;
  .item-image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.item-container::before {
  content: "";
  display: block;
  padding-top: 100%;
}

@media (min-width: 576px) {
  .profile-name {
    font-size: 24px;
  }
  .user-info {
    font-size: 16px;
  }
}