// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.user-name {
  font-size: 24px;
}

.user-info {
  font-size: 18px;
}

#list-tab {
  a {
    border: 0;
    background-color: transparent;
    opacity: 0.5;
    &:hover {
      background-color: #dedcda;
      opacity: 1.0;
    }
  }
  a.active {
  border-bottom: 2px solid;
  background-color: transparent;
  opacity: 1.0;
  }
}

#custom-pagination {
  justify-content: center;
  .page-link {
    background-color: transparent;
    border: 0;
    color: unset;
    &:hover {
      border-radius: 50%;
      background-color: #dedcda;
    }
  }
  .active .page-link {
    border-radius: 50%;
    background-color: #6c757d;
    color: #f8f9fa;
  }
  .disabled .page-link {
    background-color: transparent;
  }
}

.fadein-image {
  animation: fadein 2s forwards;
}

@keyframes fadein {
	0% {opacity: 0}
	100% {opacity: 1}
}
